In [1]:
import pandas as pd

In [2]:
ls

ANNmodel.ipynb     csi2data.csv       data.csv           test.ipynb
BU1data.csv        csi3data.csv       dataProcess.ipynb  untitled.txt
BU2data.csv        csi4data.csv       model.ipynb
csi1data.csv       csi5data.csv       run.py

In [13]:
df_BU1 = pd.read_csv('BU1data.csv', header=None)
df_BU2 = pd.read_csv('BU2data.csv', header=None)
df_CS1 = pd.read_csv('csi1data.csv', header=None)
df_CS2 = pd.read_csv('csi2data.csv', header=None)
df_CS3 = pd.read_csv('csi3data.csv', header=None)
df_CS4 = pd.read_csv('csi4data.csv', header=None)

In [14]:
print('BU1 ', len(df_BU1))
print('BU2 ', len(df_BU2))
print('CSI1', len(df_CS1))
print('CSI2', len(df_CS2))
print('CSI3', len(df_CS3))
print('CSI4', len(df_CS4))
print('CSI5', len(df_CS5))

BU1  3313
BU2  5313
CSI1 8215
CSI2 9684
CSI3 5673
CSI4 7616
CSI5 45104

In [16]:
d1 = df_BU1[2]
d2 = df_BU2[2][:len(d1.index)]
d3 = df_CS1[2][:len(d1.index)]
d4 = df_CS2[2][:len(d1.index)]
d5 = df_CS3[2][:len(d1.index)]
d6 = df_CS4[2][:len(d1.index)]
d7 = df_CS5[2][:len(d1.index)]

In [21]:
# df = pd.concat([d1,d2,d3,d4,d5,d6,d7], axis=1)
# df.head()
df1 = pd.DataFrame({'d1':d1, 'd2':d2, 'd3':d3, 'd4':d4, 'd5':d5, 'd6':d6})

df1.to_csv('data1.csv')
df1.head()

       d1      d2      d3      d4      d5      d6
0  18.748  22.174  24.225  27.027  24.109  21.731
1  19.102  20.970  22.395  28.291  25.398  20.170
2  18.901  24.957  24.794  28.883  26.604  17.242
3  19.378  23.571  25.140  26.899  26.671  20.433
4  19.460  25.301  23.356  27.522  26.450  20.427

In [22]:
d1 = df_BU1[3]
d2 = df_BU2[3][:len(d1.index)]
d3 = df_CS1[3][:len(d1.index)]
d4 = df_CS2[3][:len(d1.index)]
d5 = df_CS3[3][:len(d1.index)]
d6 = df_CS4[3][:len(d1.index)]
d7 = df_CS5[3][:len(d1.index)]
df2 = pd.DataFrame({'d1':d1, 'd2':d2, 'd3':d3, 'd4':d4, 'd5':d5, 'd6':d6})
df2.to_csv('data2.csv')
df2.head()

       d1      d2      d3       d4       d5      d6
0  24.432  17.293  22.861  13.5540  12.2170  26.020
1  20.347  13.856  21.673  16.9290  19.8210  25.346
2  23.825  15.524  21.750  16.9310   7.5323  21.583
3  22.862  20.812  20.712   7.7814  16.5950  23.263
4  22.847  16.763  22.319  12.8620  21.5010  24.858

In [23]:
d1 = df_BU1[4]
d2 = df_BU2[4][:len(d1.index)]
d3 = df_CS1[4][:len(d1.index)]
d4 = df_CS2[4][:len(d1.index)]
d5 = df_CS3[4][:len(d1.index)]
d6 = df_CS4[4][:len(d1.index)]
d7 = df_CS5[4][:len(d1.index)]
df2 = pd.DataFrame({'d1':d1, 'd2':d2, 'd3':d3, 'd4':d4, 'd5':d5, 'd6':d6})
df2.to_csv('data3.csv')
df2.head()

       d1      d2      d3      d4      d5      d6
0  19.325  19.368  24.721  26.166  18.345  19.493
1  18.151  19.756  23.453  27.011  19.821  20.433
2  20.347  21.972  23.715  27.616  21.760  21.731
3  20.071  20.458  21.187  24.308  22.862  20.253
4  20.452  21.171  22.622  25.662  20.543  20.638

In [24]:
d1 = df_BU1[5]
d2 = df_BU2[5][:len(d1.index)]
d3 = df_CS1[5][:len(d1.index)]
d4 = df_CS2[5][:len(d1.index)]
d5 = df_CS3[5][:len(d1.index)]
d6 = df_CS4[5][:len(d1.index)]
d7 = df_CS5[5][:len(d1.index)]
df3 = pd.DataFrame({'d1':d1, 'd2':d2, 'd3':d3, 'd4':d4, 'd5':d5, 'd6':d6})
df3.to_csv('data4.csv')
df3.head()

       d1      d2      d3         d4      d5      d6
0  23.079  15.448  20.618       -inf  23.715  26.883
1  19.606  13.755  20.076  10.278000  21.093  26.536
2  20.898  16.582  20.346   7.780800  21.893  26.785
3  21.419  17.315  18.132  -1.761100  22.616  28.276
4  20.347  15.778  21.418   7.532400  26.300  28.500

In [50]:
df = pd.read_csv('data.csv')
df.drop('Unnamed: 0', axis=1, inplace=True)
df.head()

       d1      d2      d3       d4      d5      d6
0  30.521  20.997  23.296  13.5540  23.684  17.520
1  29.793  22.064  22.486  13.5520  23.430  17.853
2  30.487  23.513  24.087  12.3880  22.616  20.043
3  30.586  21.338  22.434   9.3784  22.261  19.030
4  30.259  25.190  19.393  11.2490  22.058  18.123

In [25]:
ls

ANNmodel.ipynb     csi3data.csv       data2.csv          run.py
BU1data.csv        csi4data.csv       data3.csv          test.ipynb
BU2data.csv        csi5data.csv       data4.csv          untitled.txt
csi1data.csv       data.csv           dataProcess.ipynb
csi2data.csv       data1.csv          model.ipynb